.App {
  text-align: center;
}

.container{
  position: relative;

  top: 70px;
  width: 99%;
  height:535px; 
  border:1px solid transparent;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;
  overflow-y:scroll; 
}

.element{
  border:1px solid black;
  width:260px;
  margin-top:10px;
  height:350px;
  padding: 10px;
}

.img{ 
  width:150px;
  height:200px;
}
.btn{
   background-color: blue;
   color: white;
   padding: 6px 20px;
   border: 1px solid black;
}